.weatherApp{
    text-align: center;
    background-color: lightblue;
    width: 40%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
   }
   
   .weatherApp img{
     mix-blend-mode: multiply;
     padding: 15px;
   }
   
   .weatherApp h1{
     padding: 10px;
   }
   
   .inputbtn{
     display: flex;
     justify-content: space-evenly;
     background-color: whitesmoke;
     width: 50%;
     margin: auto;
     border-radius: 10px;
   }
   
   .inputbtn input:focus{
     outline: none;
     border: none;
   }
   
   .inputbtn input{
     border: none;
   }
   
   .inputbtn button{
    border: none;
    padding: 3px;
   cursor: pointer;
    
   }
   
   .humidityWind img{
   mix-blend-mode: multiply;
   padding-right: 0%;
   }
   
   .humidityWind{
     display: flex;
    justify-content: center;
   }
   